@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
#menu-0 .mbr-brand__name a {
  font-size: 36px;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-7 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
  font-size: 46px;
}
#content5-7 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-7 .mbr-article {
  color: #fff;
}
#content5-7 .mbr-article P {
  color: #000000;
  font-size: 25px;
  text-align: left;
}
#features1-27 .btn {
  font-size: 60px;
}
#features1-27 .mbr-section-title .mbr-header__text {
  font-size: 46px;
}
#features1-28 .mbr-section-title .mbr-header__text {
  font-size: 46px;
}
#features1-7 .mbr-section__col .mbr-header__text {
  text-align: center;
}
#features1-7 .mbr-section-title .mbr-header__text {
  font-size: 46px;
}
#footer1-25 P {
  color: #ffffff;
}
#msg-box4-27 .mbr-header__text {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
#msg-box4-27 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-27 .mbr-article {
  color: #ffffff;
}
#msg-box4-27 .btn {
  font-size: 30px;
}

#menu-10 .mbr-brand__name {
  font-size: 16px;
}
#menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-10 .mbr-navbar__section {
  background: #ffffff;
}
#menu-10 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
#menu-10 .mbr-brand__name a {
  font-size: 36px;
}
#content5-12 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-12 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-12 .mbr-article {
  color: #fff;
}
#slider-13 .btn {
  font-size: 46px;
}
#contacts1-15 P {
  text-align: left;
  font-size: 15px;
  color: #ffffff;
}
#contacts1-15 STRONG {
  font-size: 30px;
  color: #ffffff;
}
#features1-16 .mbr-section__col .mbr-header__text {
  text-align: center;
}

#menu-45 .mbr-brand__name {
  font-size: 16px;
}
#menu-45.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-45 .mbr-navbar__section {
  background: #ffffff;
}
#menu-45 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
#menu-45 .mbr-brand__name a {
  font-size: 36px;
}
#footer1-53 P {
  color: #ffffff;
}

#menu-55 .mbr-brand__name {
  font-size: 16px;
}
#menu-55.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-55 .mbr-navbar__section {
  background: #ffffff;
}
#menu-55 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
#menu-55 .mbr-brand__name a {
  font-size: 36px;
}
#footer1-56 P {
  color: #ffffff;
}

#menu-58 .mbr-brand__name {
  font-size: 16px;
}
#menu-58.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-58 .mbr-navbar__section {
  background: #ffffff;
}
#menu-58 .mbr-navbar__items a {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}
#menu-58 .mbr-brand__name a {
  font-size: 36px;
}
#footer1-59 P {
  color: #ffffff;
}
